.main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.assistant{
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #676767; */
  background-color: #fff;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lead-form{
  width: 90%;
  margin: 0 auto;
}
.lead-form form{
  display: flex;
  align-items: center;
  padding-top: 5px;
  justify-content: center;
  gap: 5px;
}
.lead-form form input[type='email']{
  flex: 1;
  padding: 2px 5px;
  border: 1px solid grey;
  border-radius: 5px;
}
.lead-form form button{
  all: unset;
  padding: 2px 5px;
  background-color: #111;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
}
.avatar-container{
  /* height: 5rem; */
    width: 20rem;
    /* background-color: #fff; */
    position: absolute;
    bottom: -1rem;
    left: -10.5rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot-avatar{
  height: 100%;
  width: 100%;
}
.bot-avatar svg{
  filter: drop-shadow(0 4px 6px black);
}
.hide{
  display: none;
}
.floating-container{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 75vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}
.toggle-button{
  all: unset;
  padding: 0.7rem;
  font-size: 2rem;
  width: 50px;
  background-color: #fff;
  color: #111;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle-button:hover{
  box-shadow: 0px 0px 10px #fff;
}
.page-head{
  text-align: center;
  padding: 2rem;
}
.assistant .page-head{
  padding: 0.5rem;
}
.input-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.input-box button{
  all: unset;
  padding: 0.2rem 1rem;
  /* color: #fff; */
  color: #111;
  /* border: 1px solid #fff; */
  border: 1px solid #111;
  border-radius: 0.5rem;
  transition: all ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.input-box button i{
  font-size: 1.2rem;
  padding-top: 0.2rem;
}
.input-box button:hover{
  /* box-shadow: 0px 0px 10px #fff; */
  box-shadow: 0px 0px 10px #676767;
}
.input-box p{
  padding: 1rem;
}

.chat-box{
  flex: 1;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  /* border: 1px solid white; */
  background-color: #eeeeee;
  border-radius: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}
.chat-item{
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  /* padding: 0.5rem; */
  /* background-color: black; */
  margin-bottom: 1rem;
}

.chat-item .content {
  max-width: 80%;
  padding: 0.5rem;
  /* border: 1px solid white; */
  border-radius: 0.5rem;
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
}
.user{
  flex-direction: row-reverse;
  border: none;
}
.user .content{
  /* max-width: 65%; */
  border: none;
  border-radius: 0.5rem;
  /* background-color: #2c2d2c; */
  background-color: #111;
  color: white;
}
.chat-item .sender {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  aspect-ratio: 1;
  /* white-space: nowrap; */
  /* font-size: 0.7rem; */
  /* padding: 0.5rem; */
  /* background-color: white; */
  background-color: white;
  /* color: black; */
  color: gray;
  border-radius: 50%;
}
/* .sender i{
  font-size: 1.5rem;
  padding-top: 0.2rem;
} */
.thinking{
  /* max-width: 65%; */
  padding: 0.5rem;
  font-weight: 700;
  color: #676767;
  animation: blink 1s ease-in-out 0s infinite alternate;
}

@keyframes blink {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  html{
    font-size: 12px;
  }
  .floating-container{
    width: 90%;
  }
  .avatar-container{
    left: -7rem;
  }
}
